<h1> Here is the start of something great and new....</h1>
<p> If I am going to be a developer, I must incorportate the desire and skills to code comfortable in any programming language. This is a project which uses multiple: HTML, RUBY, SQL, CSS, and some Javascript</p>

<ul> Here is unordered list</ul>
        <li>#1</li>
	<li>#2</li>
	<li>#3</li>


